body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.Header{
 width: 100%;
 height: 360px;
  background-image: url('../Picture/water.jpg');
  background-position: 0% 0%;
  position: relative;
  margin: 0;
  text-align: center;
}


.Title{
    text-align: center;
    vertical-align: middle;
    line-height: 370px;
    font-family: 'Lalezar';
    font-size: 80px;
    color: ghostwhite;
    }

.Nav{
    width: 80%;
    height: 60px;
    position:absolute;
    color:ghostwhite;
    display:flex;
    padding:0;
    bottom:0;
    margin-bottom: 0;
    text-align:center;
    margin-left: 50%;
}

    .Item{
        width: 200px;
        height: 50px;
        border-style: solid;
        color:lightskyblue;
        border-width: 7px;
        list-style-type: none;
        position: relative;
        bottom: 3px;
        background-color: grey;
        text-align: center;
    }

    .Item a{
        font-size: 13px;
        display: block;
        color: white;
        text-align: center;
        line-height: 60px;
        text-decoration: none;
        font-family: 'Lalezar';
    }

    .Dbtn {
        width: 200px;
        height: 105%;
        border-style: solid;
        border-color:lightskyblue;
        border-width: 7px;
        list-style-type: none;
        position: relative;
        bottom: 3px;
        background-color: grey;
        font-size: 13px;
        color: white;
        font-family: 'Lalezar';
        text-align: bottom;
        padding-top: 10px;
}

.Dbtn:hover {
   border-color: yellow;
}


.DD {
    position: relative;
    display: inline-block;
}

.DDD {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.DDD a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.DDD a:hover {
    background-color: lightskyblue;
    color: yellow;
    }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


    .Active{
        color: greenyellow;
    }


     .Item:hover{
        color: yellow;
    }

    .Item:hover a{
        color: yellow;
        
    }

    .Container{
        padding-top: 60px;
        padding-bottom: 30px;
        padding-left: 75px;
        padding-right: 75px;
        background: white;
    }

    .Essay{
        padding: 10px;
        border-style: solid;
        border-width: 10px;
        border-color:lightskyblue;
        border-radius: 25px;
        background: linear-gradient(white,ghostwhite);
        text-align: justify;
    }


    h1{
        font-family: 'Georgia';
        text-decoration: underline;
    }

  

    p{
        text-align:justify;
        text-indent: 58px;
        font-family: 'Georgia';
        font-size: 20px;
        padding:40px;
    }

    .Pic1{
        float: right;
        padding: 20px;
    width: 270px;
    height: 270px;
    }
